* {margin: 0;}

.orange {
	color: orange;
}

#blue {
	background-color: navy;
}

body {
	background-color: lightblue; 
}
.border{
	border-style: solid;
	color: black; 
	padding: 10px 25px 10px 25px
}
#h1campus{
	font-family: 'Noto Sans TC', sans-serif;
	background-image: url(../images/campusbuas.jpg); 
	color: white; 
}